header {
  width: 100%;
  height: 52px;
  background: #444;
  position: fixed;
  top: 0;
  left:0;
}

.content {
  padding-top: 60px;
  border: 3px solid red;
}

.box {
  width: 100%;
  height: 500px;
  background-color: blue;
  position: relative;
  display: flex;
}

.child {
  background: white;
  border: 1px solid black;
}
.one {
  flex: 1;
}

.two {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.inner {
  height: 50px;
  width: 50px;
  color: green;
  border: 2px solid purple;
}
