* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #ccc;
}

.logo {
  flex: 3;
  font-size: 34px;
}

.navbar {
display: flex;
justify-content: space-between;
flex: 1;
}

li {
  list-style: none;
}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
}
